:root {
  --font-size-default: 15px;
  --font-size-s: 1.3rem;
  --font-size-m: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;

  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --soft-orange:  hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}